            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            .loadingIndicator {
                position: fixed;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1000;
            }
            
            .loadingIndicator__img {
                width: 500px;
                height: 400px;
            }

            
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f2f5;
            }

            #main {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            
            }

            .navbar {
                width: 100%;
                background-color: #ff4757;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                padding: 8px;
                margin-bottom: 20px;
            }

            .nav__head {
                font-size: 24px;
                font-weight: bold;
            }

            .products {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 12px;
                overflow-y: scroll;
            }

            .product {
                background-color: white;
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 20px;
                width: 30%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            .product__title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .product__body {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .product__tag {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 10px;
            }

            .tag__title {
                font-size: 14px;
                font-weight: bold;
                margin-right: 5px;
                margin-top: 6px;
            }

            .tag__ele {
                background-color: #ff4757;
                color: white;
                font-size: 14px;
                padding: 5px 10px;
                border-radius: 5px;
            }

            .product__views,
            .product__reactions {
                font-size: 14px;
                color: #555;
            }

            .pagination {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 15px;   
                width: 100vw;
            }

            .pagination_prev, .pagination__next {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                background-color: #ff4757;
                color: white;
                cursor: pointer;
                margin: 0 10px;
                margin-bottom: 12px;
            }

            .pagination_prev:disabled, .btnNext:disabled {
                background-color: #ddd;
                cursor: not-allowed;
            }

            .pagination__btn {
                display: flex;
                gap: 12px;
                width: 300px;
                overflow-y: hidden;
                overflow-x: scroll;

            }

            .pages {
                width: 30px;
                height: 30px;
                display: flex;
                padding: 3px 3px 4px 4px;
                justify-content: center;
                align-items: center;
                border: 1px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
            }

            .pages.active,.offsetMain {
                background-color: #ff4757;
                color: white;
            }
            

            .offsetMain{
                margin-left: 25px;
                margin-bottom: 12px;
                padding: 10px 20px;
            }

            .offset{
                font-size: 22px;

            }

            #offset{
                margin-left: 8px;
                font-size: 15px;
                text-decoration: none;
            }

            @media only screen and (max-width: 600px) {
                .product{
                    width: 45%;
                }
                .product__tag{
                    display: flex;
                    flex-direction: column;
                    
                }

                .pagination__btn{
                    width: 200px;
                }


            }


            @media only screen and (max-width: 391px) {
                .pagination__btn{
                    width: 100px;
                    
                }
            }

            @media only screen and (max-width: 295px) {
                .pagination_prev, .pagination__next{
                    padding: 5px 10px;
                    font-size: 12px;
                }

                .pagination__btn{
                    width: 76px;
                    
                }

                .offsetMain{
                    padding: 5px 10px;
                    font-size: 12px;
                }
            }